@font-face {
  font-family: "WorkSans";
  src: url(./assets/fonts/WorkSans-VariableFont_wght.ttf),
    url(./assets/fonts/static/WorkSans-Regular.ttf),
    url(./assets/fonts/static/WorkSans-Bold.ttf),
    url(./assets/fonts/static/WorkSans-SemiBold.ttf);
}

.background {
  margin: 0;
}

.flex-it {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.container {
  margin: 0;
  margin-top: 180px;
  margin-bottom: 20px;
  background-color: hsl(0, 0%, 100%);
  padding: 10px 40px;
  max-width: 500px;
  border-radius: 15px;
  box-shadow: 10px 10px 45px -20px hsl(292, 42%, 14%),
    20px 20px 60px -40px hsl(292, 16%, 49%);
  z-index: 1;
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.top {
  margin-top: 20px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.hide {
  display: none;
}

h1 {
  margin: 0;
  color: hsl(292, 42%, 14%);
  font-size: 50px;
  font-weight: 900;
}

h4 {
  color: hsl(292, 42%, 14%);
}

h4:hover {
  color: rgb(168, 0, 168);
  cursor: pointer;
}

p {
  color: hsl(292, 16%, 49%);
  margin-top: 0;
}

@media (min-width: 10px) and (max-width: 645px) {
  @font-face {
    font-family: "WorkSans";
    src: url(./assets/fonts/WorkSans-VariableFont_wght.ttf),
      url(./assets/fonts/static/WorkSans-Regular.ttf),
      url(./assets/fonts/static/WorkSans-Bold.ttf),
      url(./assets/fonts/static/WorkSans-SemiBold.ttf);
  }

  .body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
  }

  .container {
    margin-top: 25%;
    margin-bottom: 50px;
    background-color: hsl(0, 0%, 100%);
    padding: 10px 40px;
    max-width: 70%;
    border-radius: 15px;
    box-shadow: 10px 10px 45px -20px hsl(292, 42%, 14%),
      20px 20px 60px -40px hsl(292, 16%, 49%);
  }

  .top {
    margin-top: 30px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .icon-star {
    height: 30px;
  }

  .flex-it {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    margin: 0;
  }

  .hide {
    display: none;
  }

  h1 {
    margin: 0;
    color: hsl(292, 42%, 14%);
    font-size: 50px;
    font-weight: 900;
    font-size: 30px;
  }

  h4 {
    color: hsl(292, 42%, 14%);
    font-size: 14px;
  }

  h4:hover {
    color: rgb(168, 0, 168);
    cursor: pointer;
  }

  p {
    color: hsl(292, 16%, 49%);
    margin-top: 0;
    font-size: 13px;
  }
}
